VITE_APP_TITLE=Workestrator Frontend
VITE_CORE_SERVICE_URL=/core-api/api/v1
VITE_PLANNER_SERVICE_URL=/planner-api/api/v1
VITE_CORE_SERVICE_PROXY_TARGET=http://localhost:8000
VITE_PLANNER_SERVICE_PROXY_TARGET=http://localhost:8001
VITE_CORE_SERVICE_BASIC_AUTH=
